.wrapper {
  width: 1050px;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 60px;
}

h2 {
  margin-top: 60px;
}

cite {
  width: 100%;
  text-align: right;
  float: right;
}

.about {
  padding: 0px 24px;
}